/* generals styles  */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  font-family: "Rubik Dirt", cursive;
}

/*idividual styles */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}
.hero-principal {
  padding: 3rem;
}

.icon-person-styles{
font-size: 120px
}
.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

.section-black {
  background-color: #1b1b32;
  color: white;
}
.about-my {
  height: 500px;
  padding: 10px;
}
.about-my .contenedor {
  max-width: 600px;
  text-align: center;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
  text-decoration: underline;
}
.seccion-texto {
  font-size: 1.1rem;
}

.experiencia {
  padding: 40px 40px 60px 40px;
}
.seccion-oscura {
  color: black;
  background-color: whitesmoke;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.experiencia i {
  font-size: 2rem;
  padding: 8px 14px;
  border-radius: 50%;
}
.badges-contenedor {
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}
.experiencia .columna {
  padding: 20px;
  border: 1px solid #8080804d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}
.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.proyectos-recientes {
  padding: 40px;
}

.texto-negro {
  color: black;
}
.texto-blanco {
  color: white;
}
.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
  text-decoration: underline;
}
.proyectos-recientes img {
  height: 100%;
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.proyecto:hover img {
  opacity: 0.2;
}
.proyecto:hover .overlay {
  opacity: 1;
}
.proyecto {
  position: relative;
}
.overlay .iconos-contenedor {
  display: flex;
  justify-content: center;
}
.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contacto .rectangulo {
  margin-top: -5rem;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacto .descriptions {
  color: white;
  font-size: 1.2rem;
}
.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 12px;
  margin: 1px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.contacto i button {
  color: white;
  font-size: 1.3rem;
  transition: 0.2s ease-in-out;
}
.contacto button:hover {
  background-color: white;
  color: black;
}
.contacto button:hover i {
  color: black;
}
footer {
  min-height: 500px;
}
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 20px;
}
.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}
.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover {
  background-color: white;
}
.iconos-redes-sociales a:hover i {
  color: black;
}
.derechos {
  font-size: 20px;
  color: #aeaeaeae;
  padding: 20px;
}

/* Resposive */
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 500px;
  }
}
@media screen and (max-width: 767px) {
  .contacto button {
    margin-top: 15px;
  }
}
